.scrolldown {
	border: 2px solid #ffffff60;
	border-radius: 15px;
	height: 50px;
	width: 30px;
    display: flex;
    justify-content: center;
}

.dot1,
.dot2 {
	animation-duration: 1.5s;
	animation-name: scrolldown;
	animation-iteration-count: infinite;
	fill: #ffffffa0;
}
  
.dot2 {
	animation-delay: .75s;
}

@keyframes scrolldown {
	0% {
		opacity: 0;
		transform: translate(0, -8px);
	}
	50% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, 8px);
	}
}